.image-container {
    background-color: whitesmoke;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./Image/img-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    margin: 0px;
}

.header-container {
    height: 700px;
    margin: 0px;
    background-color: whitesmoke;
}

.nav-container {
    background-color: black;
    opacity: 70%;
    z-index: 0;
    width: 100%;
    height: 150px;
    position: relative;
}

.header-div {
    position: absolute;
    z-index: 10;
    width: 24%;
    height: 150px;
    margin-left: -1%;
}
 


.navbar {
    width: 100%;
    height: 150px;
}
.header{
    width: 70%;
    height: 80px;
    margin-left: 20%;
    margin-top: 30px;
    background-color: black;
}

.nav-header {
    color:white;
    font-size: 22px;
    text-align: center;
    padding-top: 10%;
}

.nav-item1-div {
    display: grid;
    grid-template-columns: 60% 40%;
}

.nav-menu {
    padding-top: 40px;
    height: 40px;
    margin-left: 38%;
}

#home {
    text-decoration: none;
    font-size: 18px;
    color: white;  
    margin-left: 2%;
}

#our-property {
    text-decoration: none;
    margin-left: 30px; 
    font-size: 18px;
    color: white;
}

.nav-menu2 {
    padding-top: 40px;
    height: 40px;

}

#login {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-left: 50%;

}

#register {
    text-decoration: none;
    margin-left: 1%;
    font-size: 18px;
    color: white;
}


.nav-item2-div {
    background-color: white;  
    height: 2px;
    width: 66%;
    margin-left: 24%;
}

.nav-item3-div {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 68px;
}

.navbar-div {
    padding-top: 15px;
    margin-left: 38%;
}

#HOME-menu {
    text-decoration: none;
    font-size: 16px;
    color: lightslategray;
    margin-left: 2%;
}

span {
    margin-left: 1%;
    color: lightslategray;
}

#LOGIN-menu {
     text-decoration: none;
    margin-left: 1%;
    font-size: 18px;
    color: snow;
}


.navbar-div2 {
    padding-top: 10px;
}

.menu-property {
    background-color: blue;
    height: 35px;
    border-radius: 5px;
    margin-left: 40%;
    width: 35%;
}
#post-a-property {
    text-decoration: none;
    color: white;
    font-size: 15px; 
}

.main-div {
    background-color: black;
    opacity: 60%;
    width: 55%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
     margin-top: 10%;
}

.paragraph-div {
    background-color: black;
    width: 50%;
    height: 200px;
    border-color: white;
    margin-top: 5%;
}

.register {
    width: 40%;
    height: 35px;
    margin-left: 7%;
    border-radius: 5px;
    border-color: white;
    background-color: black;
}

#register-text {
    text-decoration: none;
    text-align: center;
    color: snow;
    font-size: 16px; 
}

h4 {
    color: white;
    margin-top: 50px;
    font-size: 20px;
    margin-left: 7%;
}

p {
    color: white;
    font-size: 15px;
    margin-left: 7%;
}

.form-div {
    background-color: white;
    width: 45%;
    height: 400px;
    margin-top: -5%;
    box-sizing: border-box;
}

h3 {
    color: gray;
    margin-top: 12%;
    margin-left: 7%;
    font-size: 25px;
}

#code {
    width: 17%;
    height: 30px;
    margin-left: 7%;
    padding: 1%;
    background-color: slategrey;
    color: white;
}

#number {
    width: 55%;
    height: 25px;
    background-color: lightslategray;
    margin-left: -4px;
}
#password2 {
    margin-left: 12%;
    margin-top: 5%;
    width: 72%;
    height: 25px;
    background-color: lightslategray;
}

#password {
    margin-left: 7%;
    margin-top: 5%;
    width: 72%;
    height: 25px;
    background-color: lightslategray;
}

#forget-password {
    color: green;
    margin-left: 51%;
    margin-top: 5%;
}

.footer {
    width: 40%;
    height: 30px;
    margin-left: 45%;
    background-color: slategray;
    border-radius: 5px;
}

#click-login {
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: white;
}

#login-with {
    color:gray;
    padding-top: 15%;
    font-size: 15px;
}

.register-form-div {
    background-color: black;
    opacity: 60%;
    width: 60%;
    height: 300px;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 150px;
    display: flex;
    
}

.register-div {
    background-color: black;
    width: 45%;
    height: 250px;
    margin-top: 50px;
}

.main-form-div {
    background-color: white;
    width: 45%;
    height: 400px;
    margin-top: -50px;
    margin-left: 35px;
}

#code-lib {
    margin-top: 20px;
    width: 20%;
    height: 30px;
    margin-left: 50px;
}

#phone-number {
    width: 53%;
    height: 25px;
    margin-left: -8px;
}

#name-input {
    margin-left: 50px;
    width: 72%;
    height: 25px;
}

#conditions {
    color: gray;
    font-size: 15px;
    margin-left: 120px;
}

#checkbox {
    width: 5%;
    height: 20px;
    margin-top: 10px;
}

#property {
    text-decoration: none;
    margin-left: 44px;
    font-size: 17px;
    color: green;
}

@media screen and (max-width: 768px) {
    .register-form-div {
        background-color: black;
        opacity: 60%;
        width: 95%;
        height: 300px;
        margin-left:  auto;
        margin-right: auto;
        margin-top: 190px;
        display: flex;
        
    }

    
    .main-form-div {
        background-color: white;
        width: 45%;
        height: 400px;
        margin-top: -50px;
        margin-left: 35px;
    }

    #code-lib {
        margin-top: 30px;
        width: 20%;
        height: 30px;
        margin-left: 7%;
    }
    
    #phone-number {
        width: 65%;
        height: 25px;
        margin-left: -8px;
    }
    
    #name-input {
        margin-left: 50px;
        width: 83%;
        height: 25px;
        margin-left: 7%;
    }

    #password2 {
        margin-left: 7%;
        margin-top: 7%;
        width: 83%;
        height: 25px;
        background-color: lightslategray;
    }
    
    #conditions {
        color: gray;
        font-size: 15px;
        margin-left: 13%;
    }

    #checkbox {
        width: 5%;
        height: 20px;
        margin-top: 10px;
    }
    
    #property {
        text-decoration: none;
        margin-left: 44px;
        font-size: 17px;
        color: green;
    }

}


@media screen and (max-width: 1024px) {
    .register-form-div {
        background-color: black;
        opacity: 60%;
        width: 90%;
        height: 300px;
        margin-left:  auto;
        margin-right: auto;
        margin-top: 30%;
        display: flex;
        
    }
    
    .main-form-div {
        background-color: white;
        width: 45%;
        height: 400px;
        margin-top: -50px;
        margin-left: 35px;
    }

    #code-lib {
        margin-top: 30px;
        width: 20%;
        height: 30px;
        margin-left: 7%;
    }
    
    #phone-number {
        width: 65%;
        height: 25px;
        margin-left: -8px;
    }
    
    #name-input {
        margin-left: 50px;
        width: 83%;
        height: 25px;
        margin-left: 7%;
    }

    #password2 {
        margin-left: 7%;
        margin-top: 7%;
        width: 83%;
        height: 25px;
        background-color: lightslategray;
    }
    
    #conditions {
        color: gray;
        font-size: 15px;
        margin-left: 13%;
    }

    #checkbox {
        width: 5%;
        height: 20px;
        margin-top: 10px;
    }
    
    #property {
        text-decoration: none;
        margin-left: 44px;
        font-size: 17px;
        color: green;
    }
}

#having-account {
    color: lightslategray;
    display: none;
}

@media screen and (max-width: 540px) {

    .register-form-div {
        background-color: transparent;
        width: 90%;
    }
    
    .register-div {
       display: none;
    }
    
    .main-form-div {
        background-color: snow;
        width: 100%;
        height: 450px;
        margin-left: 3%;
    }
    
    #code-lib {
        margin-top: 30px;
        width: 20%;
        height: 30px;
        margin-left: 7%;
    }
    
    #phone-number {
        width: 65%;
        height: 25px;
        margin-left: -8px;
    }
    
    #name-input {
        margin-left: 50px;
        width: 83%;
        height: 25px;
        margin-left: 7%;
    }

    #password2 {
        margin-left: 7%;
        margin-top: 7%;
        width: 83%;
        height: 25px;
        background-color: lightslategray;
    }
    
    #conditions {
        color: gray;
        font-size: 15px;
        margin-left: 13%;
    }

    #having-account {
        color: lightslategray;
        display: block;
        text-align: center;
    }

    #log-back {
        color: lime;
        margin-left: 1%;
    }
    
    #checkbox {
        width: 5%;
        height: 20px;
        margin-top: 10px;
    }
    
    #property {
        text-decoration: none;
        margin-left: 44px;
        font-size: 17px;
        color: green;
    }

}


.property-container {
    display: grid;
    grid-template-columns: 25% 73%;
    column-gap: 1%;
    background-color: whitesmoke;
    height: 990px;
    margin-top: 20px;
}

aside {
    background-color: slategray;
    height: 500px;
    margin-left: 80px;
}

#search {
    font-size: 20px;
    color: white;
    margin-left: 30px;
    margin-top: 25px;
    box-sizing: border-box;
}

#search-for-profile {
    width: 75%;
    height: 25px;
    margin-left: 30px;
    font-size: 13px;
    padding-left: 10px;
    box-sizing: border-box;
}

#category {
    font-size: 15px;
    color: white;
    margin-left: 30px;
    box-sizing: border-box;
    margin-top: 20px;
}

#user-input-for-property {
    width: 63%;
    height: 20px;
    margin-left: 30px;
}

#most-recent {
    width: 10%;
    height: 26px;
    margin-left: -5px; 
    background-color: slategrey;
    color: white;
}

#price-for-house {
    font-size: 15px;
}

.click-footer {
    width: 75%;
    height: 40px;
    background-color: darkgray;
    margin-left: 30px;
    border-radius: 5px;
}

#done {
    text-align: center;
    color: white;
    font-size: 15px;
    
}

.property-main-content {
    background-color: whitesmoke;
    height: 950px;
}

#head {
    background-color: lightslategrey;
    height: 60px;
}

.head-container {
    display: grid;
    grid-template-columns: 25% 75%;
}

.left-head-content {
    height: 30px;
    padding: 20px;
}

#all-property {
    color: green;
    margin-left: 20px;
    text-decoration: none;
    font-size: 17px;
}

#property-for-rent {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 30px;
}

#property-on-sale {
    color: white;
    text-decoration: none;
    font-size: 17px;;
    margin-left: 30px;
}

.right-head-content {
    height: 100px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.viewing-property-div {
    height: 100px;
}

#view-property {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-top: 22px;
    margin-left: 200px;
}

.sort-by-div {
    display: grid;
    grid-template-columns: 39% 60%;
    column-gap: 1%;
}

.sort-by-text {
    height: 50px;
}

#sort-by {
    font-size: 16px;
    margin-top: 23px;
    margin-left: 97px;
    color: white;
}

.user-for-input {
    height: 40px;
}

#search-for-user-property {
    width: 60%;
    height: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

#click-recent-property {
    margin-left: -5px;
    background-color: slategray;
    color: white;
    width: 10%;
    height: 26px;
}

.house-container {
    display: grid;
    grid-template-columns: 74% 25%;
    column-gap: 1%;
}

.left-content {
    background-color: whitesmoke;
    height: 850px;
    margin-top: 20px;
}

.houses-content {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 1%;
}

.image-profile-content {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/th.jpeg");
    background-size: cover;
    height: 200px;
    width: 100%;
}

.image-profile-content2 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h7.jpeg");
    background-size: cover;
    height: 200px;
    width: 100%;
}


.image-profile-content3 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h8.jpeg");
    background-size: cover;
    height: 200px;
    width: 100%;
}

.image-profile-content4 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h9.jpeg");
    background-size: cover;
    height: 200px;
    width: 100%;
}

.image-profile-content5 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h10.jpeg");
    background-size: cover;
    height: 200px;
    width: 100%;
}

.image-profile-content6 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h1.jpeg");
    background-size: cover;
    height: 200px;
    width: 100%;
}

.image-profile-content7 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h2.jpeg");
    background-size: cover;
    height: 200px;
    width: 100%;
}

.image-profile-content8 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h3.jpeg");
    background-size: cover;
    height: 200px;
    width: 100%;
}

.image-profile-content9 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h4.jpeg");
    background-size: cover;
    height: 200px;
    width: 100%;
}
.house-frist-item-div {
    background-color: white;
    height: 290px;
    
}

.room-number {
    width: 25%;
    height: 30px;
    background-color: white;
}

#num2 {
    font-size: 18px;
   margin-top: -1px;
}

.room-number2 {
    width: 25%;
    height: 30px;
    margin-left: -6px;
    background-color: white;
}

.room-number3 {
    width: 26.2%;
    margin-left: -6px;
    background-color: white;
    height: 30px;
}

.room-number4 {
    width: 26%;
    margin-left: -6px;
    background-color: white;
    height: 30px;
}

.amount {
    background-color: lightgreen;
    width: 50%;
    height: 30px;
    margin-left: auto;
    margin-top: -40px;
}

#displaying-amount-of-bedroom {
    font-size: 17px;
    margin-left: 10px;
    margin-top: -0.3px;
    color: lightslategrey;
}

#name-of-property-owner {
    font-size: 10px;
    margin-left: 12px;
    color: lightslategrey;
}

#location-of-the-bedroom {
    font-size: 12px;
    margin-left: 25px;
    margin-top: -15px;
    color: lightslategrey;
}

#amount-for-property {
    font-size: 16px;
    margin-left: -1px;
    margin-top: 10px;
    padding: 8px;
    color: black;
    
}

.house-second-item-div {
    background-color: white; 
    height: 290px;
}

.house-third-item-div {
    background-color: white;
    height: 290px;
}

.another-content-of-houses {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 1.1%;
}

.house-fourth-item-div {
    background-color: white;
    height: 290px;
    margin-top: 15px;
}

.house-fifth-item-div {
    background-color: white;
    height: 290px;
    margin-top: 15px;
}

.house-sixth-item-div {
    background-color: white;
    height: 290px;
    margin-top: 15px;
}

.displaying-more-content-of-houses {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 1%;
}

.house-seven-item-div {
    background-color: white;
    height: 290px;
    margin-top: 15px;
}

.house-eight-item-div {
    background-color: white;
    height: 290px;
    margin-top: 15px;
}

.house-nine-item-div {
    background-color: white;
    height: 290px;
    margin-top: 15px;
}

.right-content-advertisement {
    background-color: white;
    height: 650px;
    margin-top: 20px;
}

#advertisements-text {
    font-size: 25px;
    color: black;
    text-align: center;
    margin-top: 300px;
}

.click-more-div {
    background-color: lightslategrey;
    width: 25%;
    height: 40px;
    margin-left: 260px;
    border-radius: 10px;
    margin-top: 80px;
  
}

#load-more-text {
    font-size: 17px;
    color: white;
    text-align: center;
    margin-top: 6px;
}

.footer-area {
    background-color: lightslategray;
    display: grid;
    grid-template-columns: 30% 33% 27%;
    column-gap: 5%; 
    width: 100%;
    height: 325px;
    margin-top: 100px;
}

.footer-area1 {
    background-color: lightslategray;
    display: grid;
    grid-template-columns: 30% 33% 27%;
    column-gap: 5%; 
    width: 100%;
    height: 325px;
    margin-top: 280px;
}

.contact-us-div {
    background-color: lightslategray;
    height: 300px;
}

.quick-link-div {
    background-color: lightslategray;
    height: 300px;
}

.our-recent-postings-div {
    background-color: lightslategray;
    height: 300px;
}

#contact-us {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    color: white;
}

#place-to-find-us {
    margin-left: 130px;
    font-size: 17px;
}

#links1 {
    text-decoration: none;
    text-align: center;
    margin-left: 120px;
    color:  white;
    font-size: 17px;
    padding-bottom: 10px;
}

#links2{
    text-decoration: none;
    margin-left: 100px;
    color: white;
    font-size: 17px;
    padding-bottom: 10px;
}

#links3 {
    text-decoration: none;
    margin-left: 60px;
    color: white;
    font-size: 17px;   
}

#apartment-to-find-us {
    font-size: 15px;
}

#apartment-location {
    font-size: 12px;
    margin-top: -10px;
    margin-left: 60px;
}

.white-line-div {
    background-color: white;
    width: 333%;
    height: 2px;
    margin-top: -50px;
}

.copyright-text p {
    background-color: lightslategray;
    height: 30px;
    width: 100%;
    margin-left: -365px;
    font-size: 15px;
    margin-top: -45px;
    text-align: center;
    padding: 20px;
}

.logo h2 {
    background-color: lightslategray;
    color: white;
    margin-top: -45px;
    height: 36px;
    padding: 12px;
    padding-top: 20px;
    font-size: 17px;
    text-align: center;
}

.right-and-left-side-container {
    display: grid;
    grid-template-columns: 65% 32%;
    column-gap: 3%;
}

.left-side-content {
    background-color: whitesmoke;
    margin-top: 20px;
}

.contain-image-and-text {
    display: grid;
    grid-template-columns: 35% 65%;
    
}

.image-content {
    background-color:white;
    height: 120px;
}

.text-content {
    background-color: white;
    height: 130px;
}

.aside-image {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h1.jpeg");
    background-size: cover;
    height: 130px;
    width: 100%;
}

.aside-image1 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h2.jpeg");
    background-size: cover;
    height: 130px;
    width: 100%;
}

.aside-image2 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h3.jpeg");
    background-size: cover;
    height: 130px;
    width: 100%;
}

.aside-image3 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h4.jpeg");
    background-size: cover;
    height: 130px;
    width: 100%;
}

.aside-image4 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h7.jpeg");
    background-size: cover;
    height: 130px;
    width: 100%;
}

.aside-image5 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h8.jpeg");
    background-size: cover;
    height: 130px;
    width: 100%;
}

.aside-image6 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h9.jpeg");
    background-size: cover;
    height: 130px;
    width: 100%;
}

.room-number1 {
    width: 22%;
    height: 30px;
    background-color: white;
    /* margin-top: px; */
    margin-left: 36px;
}

#num3 {
    font-size: 19px;
    margin-top: 3px;
}

.room-number5 {
    width: 22%;
    height: 30px;
    background-color: white;
    margin-left: -10px; 
}

.room-number6 {
    width: 22%;
    height: 30px;
    background-color: white;
    margin-left: -10px;
}

.room-number7 {
    width: 22%;
    height: 30px;
    background-color: white;
    margin-left: -10px;
}

.both-amount-text-container {
    display: grid;
    grid-template-columns: 64% 36%;
}

.location-text-div {
    background-color: white;
    height: 100px;
}

#bedroom-content {
    color: slategrey;
    font-size: 19px;
    margin-left: 30px;
    padding-top: 10px;
}

#location-of-bedroom {
    color: slategrey;
    font-size: 13px;
    margin-left: 40px;
    margin-top: -10px;
}

#owner-of-property {
    color: slategrey;
    font-size: 14px;
    margin-left: 30px;
    margin-top: -8px;
}

.amount-content-div {
    background-color: white;
    height: 100px;
    color: black;
}

.per-month-div {
    background-color: seagreen;
    color: white;
    width: 55%;
    height: 33px;
    margin-left: 40px;
    margin-top: 30px;
}

#amount-per-month {
    font-size: 13px;
    text-align: center;
    padding-top: 8px;
}

.property-category {
    display: grid;
    grid-template-columns: 25% 48% 25%;
    column-gap: 1%;
    background-color: whitesmoke;
    height: 990px;
    margin-top: 20px;
}

#aside {
    background-color: gray;
    height: 495px;
    margin-left: 80px;
    margin-top: 20px;
}

.view-property-div {
    background-color: whitesmoke;
    height: 1200px;
    margin-top: 20px;
}

.view-profile-content {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h9.jpeg");
    background-size: cover;
    height: 400px;
    width: 100%;
}

.mult-img-container {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
    z-index: 0; 
    margin-top: -100px;
    opacity: 70%;
}

.mult-img1 {
    width: 15%;
    height: 85px;
    margin-left: 12px;
    margin-top: 10px;
    
}

.mult-image1 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h7.jpeg");
    background-size: cover;
    height: 85px;
    width: 100%;
    z-index: 30;
} 

.mult-img2 {
    width: 15%;
    height: 85px;
    margin-left: 10px;
    margin-top: 10px;
}

.mult-image2 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h1.jpeg");
    background-size: cover;
    height: 85px;
    width: 100%;
    z-index: 50;
}

.mult-img3 {
    width: 15%;
    height: 85px;
    margin-left: 10px;
    margin-top: 10px;
} 

.mult-image3 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h2.jpeg");
    background-size: cover;
    height: 85px;
    width: 100%;
    z-index: 30;
} 

.mult-img4 {
    width: 15%;
    height: 85px;
    margin-left: 10px;
    margin-top: 10px;
} 

.mult-image4 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h3.jpeg");
    background-size: cover;
    height: 85px;
    width: 100%;
    z-index: 30;
} 

.mult-img5 {
    width: 15%;
    height: 85px;
    margin-left: 10px;
    margin-top: 10px;
}

.mult-image5 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h4.jpeg");
    background-size: cover;
    height: 85px;
    width: 100%;
    z-index: 30;
}

.mult-img6 {
    width: 15%;
    height: 85px;
    margin-left: 10px;
    margin-top: 10px;
}


.mult-image6 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/h9.jpeg");
    background-size: cover;
    height: 85px;
    width: 100%;
    z-index: 30;
}


.both-container-amount {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 15px;
}

.amount-content-div1 {
    background-color: whitesmoke;
    height: 120px;
    color: black;
}

.location-texts-div {
    background-color: whitesmoke;
    height: 120px;
}

.per-month-div1 {
    background-color: seagreen;
    color: white;
    width: 80%;
    height: 50px;
    margin-left: 40px;
    margin-top: 30px;
}

#amount-per-month1 {
    font-size: 19px;
    text-align: center;
    padding-top: 13px;
}

#bedrooms-content {
    color: slategray;
    font-size: 30px;
    margin-left: 10px;
    padding-top: 10px;   
}

#location-of-bedrooms {
    color: slategray;
    font-size: 20px;
    margin-left: 10px;
    margin-top: -17px;
}

.main-house-bnt {
    width: 14%;
    height: 30px;
    margin-left: 20px;
    border: none;
    background-color: whitesmoke;
}

#bnt-number {
    font-size: 15px;
    margin-top: 2px;
}

.main-house-bnt1 {
    width: 14%;
    height: 30px;
    margin-left: -10px;
    border: none;
    background-color: whitesmoke;
}

.main-house-bnt2 {
    width: 14%;
    height: 30px;
    margin-left: -10px;
    border: none;
    background-color: whitesmoke;
}

.main-house-bnt3 {
    width: 14%;
    height: 30px;
    margin-left: -10px;
    border: none;
    background-color: whitesmoke;
}

#owner-of-propertys {
    color: black;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
}

.container-call-email {
    background-color: whitesmoke;
    height: 50px;
}

.contain-call-email {
    display: grid;
    grid-template-columns: 35% 35%;
    column-gap: 3%;
    margin-top: 80px;
}

.call-div {
    background-color: gray;
    color: white;
    height: 40px;
    margin-left: 15px;
    border-radius: 5px;
}

.email-div {
    background-color: gray;
    color: white;
    height: 40px;
    margin-left: 15px;
    border-radius: 5px;
}

#calling-peter {
    font-size: 15px;
    text-align: center;
    margin-top: 8px;
}

#sending-peter-mail {
    font-size: 15px;
    text-align: center;
    margin-top: 8px;
}

#property-description {
    font-size: 17px;
    color:  slategray;
    margin-left: 12px;
}

.image-icon-div {
    display: flex;
    background-color: whitesmoke; 
    width: 35%;
    height: 45px;
}

.image-icon1 {
    background-color: whitesmoke;
    height: 70px;
    width: 30%;
}

.fb-image {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/images\ \(1\).png");
    background-size: cover;
    height: 45px;
    width: 50%;
    background-color: whitesmoke;
}

#description-text {
    margin-left: 12px;
    color: slategray;
}

.available-amenties-div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 200px;
}

.value-in-the-house-div {
    background-color: whitesmoke;
    height: 200px;
}
#not-having-account {
    color:gray;
    font-size: 15px;
    margin-left: 20%;
    display: none;
}
#household-material {
    font-size: 15px;
    color: slategray;
    margin-left: 10px;
    margin-top: 5px;
}

.place-to-study-div {
    background-color: whitesmoke;
    height: 200px;
}

.other-facility {
    background-color: whitesmoke;
    height: 200px;
}

.view-profile-map {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Image/map");
    background-size: cover;
    height: 400px;
    width: 100%;
}

.footer-area2 {
    background-color: lightslategray;
    display: grid;
    grid-template-columns: 30% 33% 27%;
    column-gap: 5%; 
    width: 100%;
    height: 325px;
    margin-top: 647px;
}

@media screen and (max-width: 550px) {

     .navbar-div {
        padding-top: 15px;
        margin-left: 8%;
    }

     #login {
        display: none;
    }
    
    #register {
        display: none;
    } 

    .nav-item2-div {
        background-color: white;  
        height: 2px;
        width: 100%;
        margin-left: 0.4%;
    }
   

    .nav-menu {
        display:none;
    }

    .header-div {
        width: 35%;
        height: 80px;
    }
    
    .header{
        background-color: black;
        width: 14%;
        height: 14px;
        margin-left: -1%; 
    }
    
    .nav-header {
        color:white;
        font-size: 15px;
        margin-left: 220%;
    }

    .menu-property {
        background-color: blue;
        height: 35px;
        border-radius: 5px;
    }

    #post-a-property {
        text-decoration: none;
        color: white;
        font-size: 11px; 
    }

    .paragraph-div {
        background-color: black;
        width: 50%;
        height: 220px;
        border-color: white;
        margin-top: 5%;
    }

    
    .form-div {
        background-color: white;
        width: 45%;
        height: 350px;
        margin-top: -5%;
        box-sizing: border-box;
    }

    .form-div {
        background-color: white;
        width: 45%;
        height: 350px;
        margin-top: -5%;
        box-sizing: border-box;
    }

    #forget-password {
        color: lawngreen;
        margin-left: 10%;
        margin-top: 5%;
    }
    
}



@media screen and (max-width: 1024px) {
    .image-container {
        background-color: whitesmoke;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./Image/img-4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 1350px;
        margin: 0px;
    }

    #login {
        text-decoration: none;
        font-size: 18px;
        color: white;
        margin-left: 43%;
    }    

    .main-div {
        background-color: black;
        opacity: 60%;
        width: 90%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        margin-top: 30%;
    }
    
    h4 {
        color: white;
        margin-top: 40px;
        font-size: 27px;
        margin-left: 7%;
    }
    
    p {
        color: white;
        font-size: 18px;
        margin-left: 7%;
    }

    #number {
        width: 65%;
        height: 25px;
        background-color: lightslategray;
        margin-left: -4px;
    }
    
    #password {
        margin-left: 7%;
        margin-top: 5%;
        width: 82%;
        height: 25px;
        background-color: lightslategray;
    }

    #forget-password {
        color: green;
        margin-left: 60%;
        margin-top: 5%;
    }

    .footer {
        width: 45%;
        height: 30px;
        margin-left: 46%;
        background-color: slategray;
        border-radius: 5px;
    }

}



@media screen and (max-width: 768px) {
    .image-container {
        background-color: whitesmoke;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./Image/img-4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 1020px;
        margin: 0px;
    }
    .menu-property {
        background-color: blue;
        height: 35px;
        border-radius: 5px;
        margin-left: 25%;
        width: 50%; 
    } 

    #login {
        text-decoration: none;
        font-size: 18px;
        color: white;
        margin-left: 32%;
    
    }

    #HOME-menu {
        text-decoration: none;
        font-size: 16px;
        color: lightslategray;
        margin-left: 3%;
    }

    span {
        margin-left: 5%;
        color: lightslategray;
    }   

    #LOGIN-menu {
        text-decoration: none;
        margin-left: 2%;
        font-size: 18px;
        color: white;
    }

    .main-div {
        background-color: black;
        opacity: 60%;
        width: 90%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        margin-top: 30%;
    }
    
    #register-text {
        text-decoration: none;
        text-align: center;
        color: snow;
        font-size: 16px; 
    }
    
    h4 {
        color: white;
        margin-top: 50px;
        font-size: 20px;
        margin-left: 7%;
    }
    
    p {
        color: white;
        font-size: 14px;
        margin-left: 7%;
    }

    #number {
        width: 65%;
        height: 25px;
        background-color: lightslategray;
        margin-left: -4px;
    }
    
    #password {
        margin-left: 7%;
        margin-top: 5%;
        width: 82%;
        height: 25px;
        background-color: lightslategray;
    }

    #forget-password {
        color: green;
        margin-left: 60%;
        margin-top: 5%;
    }

    .footer {
        width: 45%;
        height: 30px;
        margin-left: 46%;
        background-color: slategray;
        border-radius: 5px;
    }

}


 @media screen and (max-width: 475px) {

    .navbar-div {
        padding-top: 15px;
        margin-left: 8%;
    }

    #HOME-menu {
        text-decoration: none;
        font-size: 14px;
        color: lightslategray;
    }
        #login {
           display: none;
       }
       
       #register {
           display: none;
       } 
     
    span {
        margin-left: 10%;
        color: lightslategray;
    }
    
    #LOGIN-menu {
         text-decoration: none;
        margin-left: 10%;
        font-size: 15px;
        color: white;
    }
    .navbar-div2 {
        padding-top: 10px;
    }
    
    .menu-property {
        background-color: blue;
        height: 35px;
        border-radius: 5px;
        margin-left: 5%;
        width: 90%; 
    } 

    #post-a-property {
        text-decoration: none;
        color: white;
        font-size: 10px; 
    }

    .footer-area2 {
        background-color: lightslategray;
        display: grid;
        grid-template-columns: 30% 33% 27%;
        column-gap: 5%; 
        width: 100%;
        height: 325px;
        margin-top: 647px;
}

} 


@media screen and (max-width: 475px) {

    .navbar-div {
        padding-top: 15px;
        margin-left: 8%;
    }

     #login {
        display: none;
    }
    
    #register {
        display: none;
    } 

    .nav-item2-div {
        background-color: white;  
        height: 2px;
        width: 100%;
        margin-left: 0.4%;
    }
   

    .nav-menu {
        display:none;
    }

    .header-div {
        width: 35%;
        height: 80px;
    }
    
    .header{
        background-color: black;
        width: 14%;
        height: 14px;
        margin-left: -1%; 
    }
    
    .nav-header {
        color:white;
        font-size: 15px;
        margin-left: 220%;
    }
} 

#not-having-account {
    color:gray;
    font-size: 15px;
    margin-left: 20%;
    display: none;
}

@media screen and (max-width: 475px) {

    #forget-password {
        color: #7cfc00;
        margin-left: 59%;
        margin-top: 5%;
    }

    .main-div {
        background-color: transparent;
        width: 90%;
    }

    .paragraph-div {
        display: none;
    }

    .form-div {
        background-color: white;
        width: 100%;
        height: 400px;

    }

    .footer {
        width: 85%;
        height: 30px;
        margin-left: 7%;
        background-color: slategray;
        border-radius: 5px;
    }

    #code {
        width: 30%;
        height: 30px;
        margin-left: 7%;
        padding: 1%;
        background-color: slategrey;
        color: white;
    }
    
    #number {
        width: 53%;
        height: 25px;
        background-color: lightslategray;
        margin-left: -4px;
    }
    
    #password {
        margin-left: 7%;
        margin-top: 5%;
        width: 83%;
        height: 25px;
        background-color: lightslategray;
    }

    #login-with {
        color:gray;
        padding-top: 5%;
        font-size: 17px;
        margin-left: 30%;
    }

    #not-having-account {
        color:gray;
        font-size: 15px;
        margin-left: 20%;
        display: block;
    }

    #color {
        color: lawngreen;
        margin-left: 3%;
       
    }
}

#color {
    color: lawngreen;
}
